.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70vh;
    margin-top: 100px;
}

.profile-container {
    width: 30%;
    text-align: center;
    background-color: #f8f8f8;
    position: relative;
    height: 55vh;
}

.profile-pic-container {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
}

.profile-pic-container #profile-pic {
    width: 150px;
    height: 150px;
}

.heading-container {
    margin-top: 120px;
}

.heading-span {
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.name-container {
    margin-top: 1px;
}

.name-span {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.email-container {
    margin-top: 5px;
}

.email-icon {
    font-size: 16px;
    font-weight: 500;
    margin-right: 1px;
}

.email-span {
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.btn-container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-btn,
.admin-panel-btn {
    border: 2px solid #2B2B2B;
    background-color: #f8f8f8;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
}

.logout-btn a,
.admin-panel-btn a {
    text-decoration: none;
    color: #2B2B2B;
}

.logout-btn a i,
.admin-panel-btn a i {
    font-size: 20px;
}

.logout-btn {
    margin-right: 20px;
    padding: 5px;
}

.admin-panel-btn {
    padding: 5px 2.5px;
}

.logout-btn:hover,
.admin-panel-btn:hover {
    background-color: #99c93f;
}